<doctype html>
<html>
    <head>
        <title>growthcleanr</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
            crossorigin="anonymous">
        <!-- Bootswatch "flatly" theme -->
        <link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css" 
            integrity="sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs" 
            crossorigin="anonymous">
        {% block styles_extra %}
        {% endblock %}
    </head>
    <body>
        <!-- avoid Firefox-specific flash of unstyled content -->
        <script>0</script>

        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">growthcleanr</span>
        </nav>

        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
        </div>

    </body>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" 
        crossorigin="anonymous">
    </script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" 
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" 
        crossorigin="anonymous">
    </script>
    {% block script_extra %}
    {% endblock %}
</html>