{% extends "base.j2" %}

{% block content %}

{% with flashes = get_flashed_messages() %}
    {% if flashes %}
<div class="row">
    <div class="col-8 mt-4 ml-4">
        {% for flash in flashes %}
        <div class="alert alert-secondary" role="alert">
            {{ flash }}
        </div>
        {% endfor %}
        </ul>
    </div>
</div>
    {% endif %}
{% endwith %}

<div class="row">
    <div class="col-6 mt-4 ml-4">
        <p>
        Growthcleanr will perform a per-subject, longitudinal analysis of all available
        records and assess whether each individual height or weight measurement should
        be included or excluded, with a variety of reasons for exclusion. To get started,
        upload a dataset that follows the <a target="_blank" rel="noopener noreferrer" href="https://github.com/carriedaymont/growthcleanr#data-preparation">format
        specified by growthcleanr</a>. It should have a <strong>name ending in ".csv"</strong>.
        </p>

        <p>
        After you upload your data, growthcleanr will begin processing. This can take a minute or two for
        a few thousand records, and ten minutes or longer for tens of thousands of records or more. Click
        the "Refresh this page" button below check for updates - your file should show as "Done", with a link
        to download the results.
        </p>
        
        <p>
        This will work best if you upload one file at a time, then wait for it to finish cleaning
        before starting to upload another dataset. You can upload the same file more than once,
        but if you don't change it from one upload to the next, you will most likely get the same
        results back for the same input dataset each time.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-4 mt-4 ml-4">
        <h2>Upload your data</h2>
        <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile" name="file">
                    <label class="custom-file-label" for="inputGroupFile" aria-describedby="inputGroupFileAddon">Choose file</label>
                </div>
                <button type="submit" class="btn btn-outline-primary">Upload</button>
            </div>
        </form>
    </div>

    <div class="col-4 mt-4 ml-4">
        <h3>Refresh this page</h3>

        <p>
        growthcleanr can take some time to process. The table below will be updated
        when a dataset is cleaned, but you may need to refresh this page to see the
        update.
        </p>

        <button type="button" class="btn btn-lg btn-outline-secondary"><a href="{{ url_for('index') }}">Refresh this page</a></button>
    </div>
</div>

<div class="row">
    <div class="col-8 mt-2 ml-4">
        <h2>Your datasets</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-2" scope="col">Upload date (GMT)</th>
                    <th class="col-3" scope="col">Dataset</th>
                    <th class="col-1" scope="col">Status</th>
                    <th class="col-3" scope="col">Result</th>
                </tr>
            </thead>
            <tbody>
                {% for d in datasets %}
                <tr>
                    <td>{{ d.dt }}</td>
                    <td>{{ d.fname }}</td>
                    <td>
                        {% if d.status == 'Pending' %}
                            <span class="badge badge-primary"><em>Pending</em></span> 
                        {% elif d.status == 'Done' %}
                            <span class="badge badge-success">Done</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if d.status == 'Done' %}
                        <a href="{{ url_for('cleaned_file', cleaned_fname=d.cleaned_fname) }}">{{ d.fname }}</a>
                        {% elif d.status == 'Pending' %}
                        <em>Pending</em>
                        {% else %}
                        -
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock content %}

{% block script_extra %}
<script>
    $('#inputGroupFile').on('change',function(){
        var fname = $(this).val();
        fname = fname.replace("C:\\fakepath\\", "");
        $(this).next('.custom-file-label').html(fname);
    })
</script>
{% endblock %}